@import "tailwindcss";

@theme {
    --color-dark-purple-custom: #1E0A2E;
    --color-medium-dark-purple-custom: #230C36;
    --color-light-purple-custom: #372248;
    --color-light-green-custom: #55E89C;
    --font-roboto: "Roboto", sans-serif; 
}

@layer utilities {
    .bg-purple-gradient {
        background: linear-gradient(90deg, 
            var(--color-medium-dark-purple-custom) 0%, 
            var(--color-dark-purple-custom) 10%, 
            var(--color-dark-purple-custom) 90%, 
            var(--color-medium-dark-purple-custom) 100%
        );
    }
}
